# CSTAT Lab #2

This is the second lab of the computational statistics course, covering the confidence interval for mean, variance and their differences.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import t

In [2]:
df = pd.read_pickle("tpg_data.zip")
df.head()

,Date,Ligne,Ligne Type,Jour Semaine,Horaire Type,Arrêt,Arrêt Code Long,Indice Semaine,Indice Jour Semaine,Nombre de Montées,Nombre de Descentes,Mois Annee
0,2024-12-03,1,PRINCIPAL,2-Mardi,NORMAL,Belle-Idée-Centre,BLID00,49,2,118.05,5.06,2024-12
1,2024-12-03,1,PRINCIPAL,2-Mardi,NORMAL,Belle-Idée-Réception,BISA01,49,2,3.96,70.58,2024-12
2,2024-12-03,1,PRINCIPAL,2-Mardi,NORMAL,Ch. de l'Eperon,CEPR99,49,2,349.06,111.60,2024-12
3,2024-12-03,1,PRINCIPAL,2-Mardi,NORMAL,"Chêne-Bougeries, Gradelle",GRDL01,49,2,277.34,83.78,2024-12
4,2024-12-03,1,PRINCIPAL,2-Mardi,NORMAL,Cirque,CIRQ00,49,2,695.15,677.48,2024-12

As you can notice, the data is split between values from the holiday period and the rest of the year. During this lab, we will try to find out which stops are affected by the change in season.

In [3]:
vac = df[df['Horaire Type'] == 'VACANCES']
nml = df[df['Horaire Type'] == 'NORMAL']

To do so, we will compare the mean of the different season and consider their confidence intervals

In [4]:
vac.groupby('Arrêt')['Nombre de Montées'].agg('mean')
nml.groupby('Arrêt')['Nombre de Montées'].agg('mean')

Arrêt
31 Décembre              254.409915
Acacias                  805.522750
Aigues-Vertes             45.743263
Aire-la-Ville-Centre      45.098114
Aire-la-Ville-Croisée     12.701772
                            ...
Wendt                    493.563395
ZIMEYSA-Gare              57.469792
ZIMEYSA-Ouest              2.860000
ZIMOGA                    11.135500
ZIPLO                    296.909061
Name: Nombre de Montées, Length: 902, dtype: float64

## Pooled sample variance

We first begin by computing the sample variance

In [ ]:
nml_stops_std = nml.groupby('Arrêt')['Nombre de Montées'].agg('std')
vac_stops_std = vac.groupby('Arrêt')['Nombre de Montées'].agg('std')
n = nml.groupby('Arrêt')['Nombre de Montées'].nunique()
m = vac.groupby('Arrêt')['Nombre de Montées'].nunique()


sample_var_pool = ...

We can now compute a 99% confidence interval. To do so, you will need to use the Student T distribution and in particular the $t_{\alpha, n}$ coefficient that you can compute using `t.ppf()`

In [ ]:
interval = ...

Compute the interval for each stop and find the ones where there is no significant change

In [ ]:
vac_mean = vac.groupby('Arrêt')['Nombre de Montées'].agg('mean')
nml_mean = nml.groupby('Arrêt')['Nombre de Montées'].agg('mean')
diff_mean = nml_mean - vac_mean

In [ ]:
intervals = ...

How many stops have no significant difference with 99% certainty ?

What are the assumptions we used ? Are they sound ?

## Welch's $t$-interval

Repeat the process using Welch's $t$-interval, where we assume the variances are not equal

In [ ]:
interval_w = ...

In [ ]:
intervals_w = ...

In [ ]:
count

## Visualization

Finally, let's plot our result to get a better picture of what we've covered so far. Plot the different values for the gap in mean and their confidence interval.